*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom{
    padding: 12px 16px;
    background-color: rgb(243, 252, 66);
    border: 1px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 80px;
    height: 40px;
    margin-right:10px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    
}

.custom:hover{
    background-color:black ;
    color: rgb(243, 252, 66);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.7);
    
}


#container{
    background-image: url(./bg.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container #container-box{
    height: 80vh;
    width: 60%;
    background-color: rgb(190, 204, 241);
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
}

#container #container-box2{
    display:none; 
    height: 80vh;
    width: 50%;
    background-color: rgb(21, 55, 147);
    
    
}

#container #container-box h1{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    padding: 0px 20px;
}

#container #container-box #opt{
    display: flex;
    flex-direction: column;
    padding: 20px;
}


#container #container-box #opt .option{
    margin: 10px 0;
    padding: 10px;
    border: 3px solid rgb(165, 178, 212);
    /* display: inline-block; */
    /* max-width: 100%; */
    background-color: transparent;
    text-align: start;
    font-family: 'Roboto', sans-serif;
    padding-left: 30px;
    border-radius: 5px;
    /* font-weight: 600; */
    font-size: 16px;
    /* font-weight: 500; */
    box-shadow: 1px 1px 14px rgba(213, 249, 71, 0.05);
}

#container #container-box #opt .option:hover{
    background-color: rgb(246, 243, 46);;
}


#container #container-box #buttons{
    display: flex;
    padding: 20px;
}